.container {
  display: flex;
  gap: 32px;
  position: relative;
  isolation: isolate;
}

.navLinks {
  display: flex;
  gap: 32px;
  position: relative;
  isolation: isolate;
}

.active {
  color: white !important;
}

.primary,
.secondary {
  position: relative;
  z-index: 2;
  text-decoration: none;
  transition: color 0.25s ease;
}


.primary {
  font-weight: 500;
  color: var(--color-text);
  padding: 2px 5px;
}

.secondary {
  color: var(--color-text);
}

