.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.6rem;
  height: 90%;
  width: 100%;
  box-shadow:
    0 18px 55px #0f172a24,
    inset 0 0 0 1px #94a3b81a;
  background: linear-gradient(
    135deg,
    #fffffff0 0%,
    #f4f7ffc7 45%,
    #ffffffe6 100%
  );
  background-size: 300% 300%;
  background-position: 0% 50%;

  animation: gradientMove 8s ease-in-out infinite;
}
.wrapperFooter,
.wrapperHeader {
  height: 20%;
  display: flex;
  width: 100%;
  padding: 0 35px 0 35px;
  align-items: center;
}
.wrapperHeader {
  justify-content: space-between;
}
.wrapperFooter > span {
  width: 100%;
  display: block;
}

.wrapper > hr {
  width: 95%;
    border: none; /* Removes the default 3D shaded border */
    border-top: 1px solid #e2e1e1; /* Sets thickness, style, and hex color */
}

.figure {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 0.6rem;
  height: 100%;
  width: 100%;
  padding: 10px 35px 10px 35px;

  /* background-color: rgb(240, 245, 249); */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}
