.nav-btn {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn--primary {
    border: none;
    box-shadow: 0px 0px 10px #d3f2ff;
    background-color: white;
    color: black;
    border-radius: 50px;
}