:root {
    /* HTML Variables */
    --var-html-width: 100%;
    --var-html-height: 100%;
    --var-html-background-color: #000000;

    /* HEADER Variables */
    --var-header-height: 130px;
    --var-header-width: 100%;

    /* ROOT WIDTH */
    --var-root-width: 95%;
}