.at-experience {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.at-experience-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.at-ex-text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.at-ex-title > h3 {
    color: white;
}

.at-experience-animation-container {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}