@keyframes ar-cta-animation {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    30% {
        border-radius: 39% 63% 64% 40% / 50% 33% 66% 46%;
    }

    60% {
        border-radius: 86% 57% 28% 92% / 61% 46% 59% 92%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

}