.at-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}



.up-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-footer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.branding {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.branding>div {
    width: 10%;
    height: 10%;
}

.branding>h1 {
    font-size: large;
    font-weight: 500;
}

.left-footer>address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

address>ul {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}


.right-footer {
    width: 70%;
    height: 100%;
}