.ar-header {
    border: 1px solid salmon;
    display: flex;
    height: var(--var-header-height);
    width: var(--var-header-width);
}

#ar-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none
}

#ar-ul>li:nth-child(1) {
    background-color: rgb(85, 180, 220);
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#ar-ul>li:nth-child(2) {
    height: 100%;
    max-width: 40%;
    min-width: fit-content;
    list-style-type: none;
}