.right  {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right > div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -1px rgb(29, 29, 29);
}