.right {
  width: 40%;
  height: 100%;
  perspective: 1000px;
  position: relative;
  perspective-origin: center;
}

.contact_card {
  transform-style: preserve-3d;

  position: absolute;
  width: min(50%, 720px);
  height: min(60%, 620px);

  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(-20deg) rotateX(20deg);
  box-shadow: 0px 0px 20px -1px rgb(57, 57, 57);
  border-radius: 20px;
  animation: floating 2s ease-in-out infinite forwards;
}

.contact_cardGrid {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.block_one {
  grid-area: 1 / 1 / 2 / 2;
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: center;
}

.block_two {
  grid-area: 3 / 1 / 4 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block_two > span {
  display: block;
  font-family: var(--karla);
}

.block_two > span:nth-child(1) {
  font-size: 0.9rem;
}

.block_two span:nth-child(2) {
  font-size: 0.6rem;
  color: rgb(52, 52, 52);
}

.block_three {
  grid-area: 1 / 3 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.block_three > div {
  width: 80%;
  height: 50%;
  padding: 5px;
  background-color: rgb(228, 245, 228);
  box-shadow: 0 0 5px -1px rgb(40, 99, 22);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block_three > div span:nth-child(1) {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(54, 150, 25);
  border-radius: 5px;
}
.block_three > div span:nth-child(2) {
  display: block;
  font-family: var(--karla);
  font-size: 0.5rem;
}

.block_four {
  grid-area: 5 / 1 /6 / 6;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_four > div {
    width: 100%;
    height: 75%;
    background-color: black;
    border: 2px solid rgb(140, 10, 133);
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px -1px rgb(44, 44, 44);
    font-family: var(--karla);
    font-size: 0.8rem;
    gap: 5px;
}



@keyframes floating {
  0% {
    transform: translate(-50%, -60%) rotateY(-20deg) rotateX(20deg);
  }

  50% {
    transform: translate(-50%, -40%) rotateY(-20deg) rotateX(20deg);
  }

  100% {
    transform: translate(-50%, -60%) rotateY(-20deg) rotateX(20deg);
  }
}
