.at-main {
    height: var(--var-middle-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-main-section,
.right-main-section {
    width: 50%;
    height: 100%;
}

.right-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-section>div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-section>div>img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    /* fits entire image inside viewport */
    display: block;
}


.left-main-section {
    display: grid;
    grid-template-rows: repeat(3);
    align-items: center;
    justify-content: center;
}

.left-main-section > div:nth-child(1) {
    font-size:larger;
}