@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Shadows+Into+Light&display=swap');

.at-main {
    height: var(--var-middle-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-main-section,
.right-main-section {
    height: 100%;
}

.right-main-section {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-section>div {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-section>div>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* fits entire image inside viewport */
    display: block;
}


.left-main-section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    align-items: start;
    justify-content: stretch;
}

.container>div,
.container>div>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}



.container>h1 {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.3rem, 2.8vw, 6rem);
    align-self: center;
}


#arslantauseef {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.3rem, 2.8vw, 6rem);
}

.span-h1 {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(1rem, 4vw, 6rem);
}