.ar-header {
    margin-top: 35px;
    display: flex;
    height: var(--var-header-height);
    width: var(--var-header-width);
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
}



