.ar-header-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ar-header-right ul li,
.ar-header-right a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.ar-nav-list,
.ar-cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar-nav-list {
    gap: 10px;
}

.ar-nav-list>li {
    border: 2px solid #458ABE;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.ar-cta>a {
    border: 2px solid #458ABE;
    background: #5CE3EA;
    background: linear-gradient(248deg, rgba(92, 227, 234, 1) 0%, rgba(69, 138, 190, 1) 69%, rgba(46, 49, 146, 1) 100%);
    width: 120px;
    height: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    animation: ar-cta-animation 3s infinite ease-in-out;
}