.nav-btn {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn--primary {
    border: none;
    box-shadow: 0px 0px 10px #d3f2ff;
    background-color: white;
    color: black;
    border-radius: 50px;
    
}

.nav-btn {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.35;
  transform: scale(0);
  animation: ripple 600ms ease-out;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}