.right {
  min-height: 100vh;
  width: 60%;
  position: relative;
}

#rightContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  /* background-color: rgba(241, 233, 151, 0.884); */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightFigure {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border-radius: 0.6rem;
  height: 90%;
  width: 100%;
  box-shadow: 0px 0px 12px -1px rgb(26, 25, 25);

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  background-size: 300% 300%;
  background-position: 0% 50%;

  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}
