.ar-header-left {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.SVGPolygon {
    width: 100%;
    height: 60%;
}

.circles {
    position: absolute;
    border: 2px solid #ACE5FF;
    border-radius: 100%;
}