.at-topology-card {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-content: center;
}

.at-topology-card > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.at-topology-svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.at-topology-card {
  position: relative;
  z-index: 2;
}


.at-topology-path {
  fill: none;
  stroke: rgba(66, 236, 248, 0.65);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dashoffset: 0;
}

