* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: var(--var-html-height);
  width: var(--var-html-width);
  background-color: var(--var-html-background-color);
}


#root, body {
  height: var(--var-html-height);
  width: var(--var-html-width);
}
