* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
  height: var(--var-html-height);
  width: var(--var-html-width);
  background-color: var(--var-html-background-color);
  color: white;
}

body {
  height: var(--var-html-height);
  width: var(--var-html-width);
}


#root {
  height: var(--var-html-height);
  width: var(--var-root-width);
  margin: 0 auto;
}