.left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--karla);
    font-size: 6rem;
    transform: translateX(0);
    transition: transform 1s;
}



.left.absolute {
    transform: translateX(-100%);
}